<div id="blog-header" style="background: url(images/blog/midium/1.jpg); background-size: cover;">
    <div class="overlay"></div>
    <div class="single-post-title">
        <h1>5 UI/UX Best Practices</h1>
        <p class="post-info">
            <span class="post-author">Devdan</span>
            <span class="slash"></span>
            <span class="post-date">Jan 03, 2019</span>
            <span class="slash"></span>
            <span class="post-catetory">UI/UX</span>
        </p>
    </div>
</div>
<div class="block-content">
    <div class="row">
        <div class="col-md-12">
            <div id="single-post">
                <div class="post">
                    <div class="post-body">
                        <blockquote>
                            Nearly 40% of people will leave a website if the content or layout is unattractive. Here are 5 best practices that work to enhance your website's user experience and increase conversions.
                        </blockquote>
                        <p>

                            <br>What good is a beautiful website if it’s confusing and impractical?
                            <br>Focusing on the key elements of website design will help you create an easy-to-use website. How you integrate these elements of website design contributes to your website’s user experience (UX).
                            <br>User experience encompasses every aspect of the user's interaction with a company and it’s products and services, according to Nielsen Norman.
                            <br>The objective of a website’s UX design is to create a welcoming and usable platform that helps users get what they need and encourages repeat usage.
                            <br><br>Here are five UX best practices for creating a usable website:
                            <ul>
                                <li>Allow mobile responsiveness </li>
                                <li>Motivate with calls to action</li>
                                <li>Assist with proper navigation </li>
                                <li>Offer help and documentation</li>
                                <li>Write for your users</li>
                            </ul><br>
                        </p>
                        <p>
                            <h4>1. Allow mobile responsiveness</h4>
                            <br> Time spent on mobile devices now exceeds time spent on desktops by 51% to 42%. This means that users expect websites to look great on all devices. In fact, a user is 5x more likely to bounce from your website if it's not
                            optimized for mobile, according to Adobe. And since Google changed its algorithm to consider the responsiveness of website design, mobile-unfriendly websites rank lower.
                            <br> Optimizing for mobile means streamlining the user experience. Trimming the secondary elements of your web pages provides better readability and ease of use. This is a content-focused approach to web design that prioritizes
                            visual hierarchy. Visual hierarchy is what influences how the eye moves between visual elements given their assigned weight and arrangement on the page. Done well, it creates a fluid web browsing experience.
                        </p>
                        <p>
                            <h4>2. Motivate with calls to action</h4>
                            <br>Calls to action (CTAs) transform prospects into buyers. If your conversions are low, try tweaking your CTA to improve the conversion rate and overall site experience. Best practices dictate that CTAs be large, boldly colored,
                            and use active language to drive a response. Your audience may respond better to certain colors, shapes, and wording. Ultimately, these separate elements of the CTA should align with your offer to motivate action.
                            <br> CTAs are most effective when placed near the offer and in areas that promote action. The CTA button should be the actionable cherry on top of your web page.
                        </p>
                        <p>
                            <h4>3. Assist with proper navigation </h4>
                            <br>Website navigation can be a huge point of friction for users. Great website UX ensures that users always know what they’re doing and where they are on your site. To guide users towards success and avoid confusion, use these
                            proven UX design elements:
                            <br><b>Sticky navigation: </b> Sticky navigation is a menu that doesn’t disappear as the user scrolls down the page. This keeps critical site elements nearby at all times, so users don’t have to hunt for the next step and can
                            move easily between site sections.
                            <br>
                            <h5>Page headers: </h5> The header of any page should be designed to look like the navigation items. This reminds users of where they are on the site and reassures them of their progress.
                            <br>
                            <h5>Breadcrumbs: </h5> Breadcrumbs are horizontally arranged text links separated by the “>” symbol. Placed in the header, these work to show users their browsing history and permit an easy reversion to past pages. Here’s an example:
                            <br>
                            <h5>Breadcrumbs: </h5> Breadcrumbs are horizontally arranged text links separated by the “>” symbol. Placed in the header, these work to show users their browsing history and permit an easy reversion to past pages.
                            <br>
                            <h5>Progress bars: </h5> Users love progress indicators because they help them to manage their expectations about time usage. Research from B2B review site Clutch found that 90% of users prefer web forms with progress bars and
                            similar features.
                        </p>
                        <p>
                            <h4>4. Offer help and documentation</h4>
                            <br><br>Even the most straightforward websites should provide help and documentation to guide users throughout the site. This information should be searchable, answer user tasks, and list the steps needed to succeed. Here are
                            a few practical techniques to improve the UX with user assistance:
                            <br><b>FAQs:</b> A self-help area of your website is an effective way to answer common questions. For high-commitment conversions such as “Sign Up,” it’s beneficial to place an FAQ nearby to encourage completion.
                            <br><b>Live chat pop-ups:</b> The ideal time to answer user doubts is when they arise. Live chat features allow you to interact with users in real-time as they’re searching for answers.
                            <br><b>Microcopy:</b> Microcopy is a small bit of targeted text that’s placed at the point of conversion. Use it to prevent mistakes or alleviate hesitations the user might have at this critical juncture.
                            <br><br>Ultimately, the assistance provided should be short, sweet, and promote a fluid user experience.
                        </p>
                        <p>
                            <h4>5. Write for your users</h4>
                            <br>Your website should speak to users in their language. Use words and phrases familiar to your audience and eliminate any jargon. To discover this language, talk with your users and conduct keyword research. What does your
                            product or service mean to them? How do they describe it? If the website copy sounds like something a user would say, your UX will be intuitive and seamless.
                            <br>When presenting information on your website, try to answer your users' questions before they arise. Sequencing copy in a natural and logical order will help your site read like a conversation, which users will appreciate.
                            Slack makes good use of informal language to sell their team collaboration tool.
                        </p>
                        <p>
                            <h4>Website UX Best Practices</h4>
                            <br> The best websites are a joy to use – and it’s no accident. They’re the result of a focused effort to distill the UX into a collection of positive interactions. To achieve UX success, carefully eliminate any annoying or
                            misleading website elements.
                        </p>
                    </div>

                    <div class="author-box row">
                        <div class="col-sm-2">
                            <img src="images/blog/author.jpg" class="rounded-circle" alt="..." />
                        </div>
                        <div class="col-sm-10">
                            <h3>Daniel Omolola<span> | Devdan</span></h3>
                            <p>My journey into UI/UX development has been an awesome journey for me, with lots of amazing experience building platforms for users</p>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $('.open-post').on('click', function() {
        var postUrl = $(this).attr("href");
        $('.inline-menu-container').removeClass('showx');
        $('.content-blocks.pop').addClass('showx');
        $('.content-blocks.pop section').load(postUrl)
        return false;
    });
    $('#close-post').on('click', function() {
        $('.content-blocks.pop').removeClass('showx');
        $('.inline-menu-container').addClass('showx');
        $('.content-blocks.pop section').empty();
    });
</script>